@{
    ViewBag.Title = "Home Page";
}

<div>
	<div>@Html.ActionLink("Category List", "List", "Category")</div>
	<div></div>
	<div>@Html.ActionLink("Category Create", "Create", "Category")</div>
	<div></div>
	<div>@Html.ActionLink("Employee List", "List", "Employee")</div>
	<div></div>
	<div>@Html.ActionLink("Employee Create", "Create", "Employee")</div>
	<div></div>
	<div>@Html.ActionLink("Patient List", "List", "Patient")</div>
	<div></div>
	<div>@Html.ActionLink("Patient Create", "Create", "Patient")</div>
	<div></div>
	<div>@Html.ActionLink("Log List", "List", "Log")</div>
</div>